* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    text-align: center;
}

header h1{
    background-image: linear-gradient(darkslategrey,rgb(65, 109, 109));
    color: white;
    margin: 0;
    padding: 30px 0;
    font-size: 24px;
    font-weight: 700;
}

header h2 {
    font-size: 20px;
    margin: 25px 0 10px;
    color: lightslategray;
}

header p {
    margin: 0 15px;
    padding: 5px 0 40px;
    border-bottom: 5px solid darkslategrey;
    font-weight: 700;
    color: lightslategray;
}
/*******************************************/

hr {
    height: 5px;
    background-color: dimgray;
    width: 90%;
}
/*******************************************/


/* contact info **********/


fieldset {
    border: none;
    margin-top: 5px;
}

fieldset label {
    font-size: 15px;
    font-weight: 700;
    color: dimgray;
}

.info {
    font-size: 20px;
    font-weight: 700;
    color: lightslategrey;
    padding-top: 20px;
    margin-bottom: 15px;
    border-top: 2px solid lightslategray;
    width: 100%;
}

input {
    display: block;
    background-color: rgb(221, 221, 221);
    border: none;
}

input:focus {
    background-color: rgb(243, 229, 210);
    transition: .4s;
}

.field {
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 7px 0 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(221, 221, 221);
    font-size: 15px;
    color: dimgray;   
}

select[id="state"] {
    background-color: rgb(221, 221, 221);
}

input[id="zip"] {
    width: 50%;
    margin-bottom: 0;
}

input[placeholder="required"] {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    padding-right: 20px;
}

input[placeholder="1+"] {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
}

input[placeholder="address"] {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
}

input[placeholder="city"] {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
}



/*******************************************/


/* newsletter **********/
.news {
    margin-top: 35px;
    padding-top: 15px;
    background-image: linear-gradient(white, darkslategrey);
    color: white;
}

.news p {
   font-size: 15px;
   font-weight: 700;
   color: dimgrey; 
}

.news input {
    display: inline;
}

#html-news,
#css-news,
#javascript-news,
#plain-html,
#plain-text {
    margin-right: 15px;
}

.news label {
    display: inline-block;
    margin: 8px 0;
    color:white;
    text-shadow: 0 1px 3px rgba(0,0,0 .6);
}
/*******************************************/


/* newsletter format**********/

.format {
    font-size: 17px;
    font-weight: 700;
    color: dimgrey;
    margin:30px 0 15px; 
}
/*******************************************/


/*other topics*/

label[for="msg"] {
    font-size: 15px;
    font-weight: 700;
    color: white;
    width: 100%;
    margin: 20px 0 10px;
}

textarea {
    width: 100%;
    min-height: 110px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    border-color: rgb(221, 221, 221);
}

textarea[placeholder="type here"] {
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
}

textarea:focus {
    background-color: rgb(243, 229, 210);
    transition: .4s;
}
/*******************************************/


/* submit **********/

button {
    width: 100%;
    padding: 18px 0;
    margin-top: 25px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    box-shadow: 0 2px 3px 1px rgb(16, 96, 177);
}
/*******************************************/


/* footer **********/
footer {
    text-align: center;
    background-color: darkslategrey;
    height: 100px;
    margin: 0 2px;
}

footer p {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 50px;
    padding-top: 15px;
    color: white;
}
/*******************************************/






@media (min-width: 768px) {

   

} 























